---
const url = "https://pbhqptcgtunejfwsunzi.supabase.co/rest/v1/medlemmer";

const options = {
  headers: {
    apikey:
      "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBiaHFwdGNndHVuZWpmd3N1bnppIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg1MjU3NjEsImV4cCI6MTk5NDEwMTc2MX0.qPLnnbV_2nDBjczEpGDt10lr3DQgCZ54roKiy0OZXL4",
  },
};
const response = await fetch(url, options);
const data = await response.json();
import Layout from "../layouts/Layout.astro";
import Personkort from "../components/Personkort.astro";
---

<Layout title="Medlmsliste">
  <main>
    {
      data.map((person) => (
        <Personkort
          erAktiv={person.aktiv}
          link={`/personer/${person.id}`}
          profilbillede={`/thumbs/${person.billede}`}
          navn={person.navn}
          email={person.email}
          dato={person.created_at.slice(0, 10)}
        />
      ))
    }
  </main>
</Layout>

<style>
  main {
    display: grid;
    gap: 1em;
  }
  @media screen and (min-width: 600px) {
    main {
      grid-template-columns: repeat(auto-fit, 350px);
    }
  }
</style>
