---
const { profilbillede, navn, email, link, dato } = Astro.props;
---

<a href={link}>
  <article>
    <img src={profilbillede} alt="profilbillede" />
    <div>
      <h2>{navn}</h2>
      <p>{email}</p>
      <p><span>Indmeldt</span> {dato}</p>
    </div>
  </article>
</a>

<style>
  .inaktiv {
    position: relative;
    opacity: 0.8;
    filter: grayscale();
  }
  .inaktiv::before {
    content: "Ikke aktiv";
    padding: 2em;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: black;
    background-color: var(--inaktiv);
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  article {
    position: relative;
    border-radius: 1em;
    overflow: hidden;
    height: 370px;
  }

  div {
    padding-left: 1em;
    position: absolute;
    bottom: 0;
    color: white;
    background-color: var(--brandbg);
    width: 100%;
  }
</style>
